
.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.user-photo {
    width: 10%;
    height: 10%;
    min-width: 200px;
    min-height: 200px;
    border-radius: 100%;
    display: block;
}

.input-box {
    width: 10%;
    min-width: 300px;
    min-height: 49px;
    display: block;
    margin: 36px auto;
    border-radius: 5%;
    background-color: #F5F5F5;
    border: 1px solid #BEBEBE;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    text-indent: 10px;
}

.button {
    width: 7%;
    min-width: 203px;
    min-height: 42px;
    display: block;
    margin: auto;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
}

.button-blue {
    background-color: #26AFFC;
    border: none;
    color: #FFFFFF;
}

.button-blue:hover {
    background-color: #037ec0;
}

.link {
    width: 6%;
    min-width: 182px;
    min-height: 25px;
    display: block;
    margin: 14px;
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.link-blue {
    color: #24A4ED;
}